<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <header>
      <h1>Jay shah (n01545323)</h1>
    </header>
    
    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <p>Email: shahjay0901@gmail.com</p>
    </footer>
  </body>
</html>