.formContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pageNo, .perPageData, .boroughName{
    display: flex;
    justify-content: center;
}
.zero-page-count {
    background-color: lightcoral;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}